            
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f6f8fc;
}

.separar-coluna {
    column-width:  50%;
}

/* .registrar-conta .link-pages a{
        font-size: 100px;
} */

.content-main {
    background-color: white;
    width: 100%;
    padding: 1rem;
}

.content-reg {
    background-color: #98d5d7;
    padding: .5rem;
    align-items: center;
    margin: .5rem 0;

}

.content-reg h1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: .9rem;

}

.content-reg a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: .9rem;

}

h1 {
    justify-content: center;
    align-self: center;
    display: block;
    padding: .525rem;
    margin: .50rem;
}   

input {
    padding: .25rem .5rem;
    margin: .25rem ;
    font-size: .625rem;
    border-radius: .50rem;
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;
    
}

.users {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #678fee;  
}

.user {
    margin: .5rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.user .cpf {
    color: #000000;
    opacity: .3;
    text-align: right;
    font-size: .900rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}


.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .900rem;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    display: flex
    
}

.user .name {
    color: #0c0c0c;
    margin-bottom: 0;
    text-transform: capitalize;
}

.user .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.user .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user .detail .types .type {
    color: #000000;
    padding: .25rem .5rem;
    margin:  .25rem 0;
    font-size: .900rem;
    border-radius:  1rem;
    filter: brightness(1.1);
    text-align: center;
    list-style: none;

}

/* On screens that are 992px or less*/
@media screen and (min-width: 992px) {
    .content {
        min-width: 922px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .content-reg {
        text-align: center;
    }

    .content-reg a {
        display: inline;
        font-size: 30px;
        justify-content: space-between;
    }
}