
.users {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.passageiro {
    background-color: #98d5d7; 
}

.motorista {
    background-color: #98d5d7; 
}



@media screen and (min-width: 380px) {
    .users{
        grid-template-columns: 1fr 
    }
}
/* On screens that are 576px or less*/
@media screen and (min-width: 576px) {
    .users {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* On screens that are 992px or less*/
@media screen and (min-width: 992px) {
    h1 {
        display: inline;
    }
    
    .pagination{
        display: block
    }

    .content-main registro input{
        display: inline-block;
    }
    .users {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
